.cic-logo-box {
	display: flex;
	align-items: center;
	font-size: 1.4em;
	font-weight: 600;
}

.cic-logo-box>img {
	height: 1.4em;
}

.invisible-form {
	display: inline;
	background: none;
	border: none;
	font-size: 1em;
	color: blue;
}

.hash-collapse {
	font-size: 0.75em;
}

.nav-card {
	border: 0px !important;
}

@media screen and (min-width: 575px) {
	.menu-adjust {
		left: -170%;
	}
}

.hidden {
	display: none;
}

.badge:hover .hidden {
	display: inline;
}

.analysis-badge {
	word-break: break-word;
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	font-size: 1em;
}

.pre-constrained {
	width: 42vw; /* 42 is the answer, of course */
}

.show-hide-btn {
	padding: .1rem;
	width: 100%;
}

.show-hide-btn::after{
	content: "Hide";
}

.collapsed::after{
	content: "Show" !important;
}