<%- include header.ejs %>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
	<div class="pt-4">
		<h1>About us</h1>
		<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		<p>Velit euismod in pellentesque massa placerat. Ultrices gravida dictum fusce ut placerat orci. Diam sollicitudin tempor
			id eu nisl nunc mi. Sit amet mattis vulputate enim nulla aliquet porttitor lacus luctus. Vitae congue mauris rhoncus
			aenean vel elit scelerisque mauris. Ipsum nunc aliquet bibendum enim. In eu mi bibendum neque egestas congue quisque
			egestas. Sed nisi lacus sed viverra tellus in hac. Faucibus turpis in eu mi bibendum neque egestas. Ornare suspendisse
			sed nisi lacus sed. Natoque penatibus et magnis dis parturient montes nascetur ridiculus mus.</p>
	</div>
</main>
<%- include footer.ejs %>