<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CIC Espionage - Banned</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/actionform.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

	<link rel="shortcut icon" type="image/png" href="img/favicon.png" />
</head>

<body>
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jdenticon.min.js"></script>
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<span class="fa-banner"><i class="fas fa-exclamation-triangle"></i></span>
				<h1>You have been banned</h1>
				<a href="/auth/logout" class="btn btn-secondary">Logout</a>
			</div>
		</div>
	</div>
</body>

</html>