<%- include header.ejs %>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
	<div class="pt-4">
		<div class="row justify-content-md-center align-items-center">
			<div class="col-md-4">
				<h4 class="text-center">Search</h1>
				<form method="POST" action="/search">
					<div class="form-group">
						<input type="text" class="form-control" id="search-text" name="search-text" placeholder="MD5, SHA-1, SHA-256">
					</div>
					<div class="form-group text-center">
						<button type="submit" class="btn btn-primary">Search</button>
					</div>
				</form>
			</div>
			<div class="col-md-2 p-4">
				<h1 class="display-4 text-center">OR</h1>
			</div>
			<div class="col-md-4">
				<h4 class="text-center">Upload</h1>
				<form id="file-form" action="/upload" method="POST" enctype="multipart/form-data">
					<div class="form-group">
						<input id="file" name="upload" multiple="multiple" type="file" class="form-control">
					</div>
					<div class="form-group text-center">
						<p>to be analysed by</p>
					</div>
					<div class="form-group">
						<select id="device-type" class="form-control" name="device-type">
							<option>Emulator</option>
							<option>Phone</option>
						</select>
					</div>
					<div id="phone-verification-alert" class="alert alert-warning" style="display: none;">
						<strong>Note:</strong> Your request will be manually verified. Please be patient!
					</div>
					<div class="form-group text-center">
						<button type="submit" class="btn btn-primary">Upload</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</main>
<%- include footer.ejs %>