<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CIC Espionage - Change password</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/actionform.css">

	<link rel="shortcut icon" type="image/png" href="img/favicon.png" />
</head>

<body>
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/feather.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jdenticon.min.js"></script>
	<div class="container">
		<div class="row">
			<% if(typeof err !== 'undefined' && err){ %>
			<div class="col-md-12">
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<strong>Error:</strong>
					<%- err %>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
				</div>
			</div>
			<% } %>
			<div class="col-md-12 text-center">
				<form class="actionform" id="compForm" action="/auth/changepassword" method="post">
					<img class="mb-4" src="/img/logo.svg" alt="" width="72" height="72">

					<label for="inputCurrentPassword" class="sr-only">Current password</label>
					<input name="currentPassword" type="password" id="inputCurrentPassword" class="form-control top" placeholder="Current password"
						required>

					<label for="inputNewPassword" class="sr-only">New password</label>
					<input name="newPassword" type="password" id="inputNewPassword" class="form-control mid" placeholder="New password" required>

					<label for="inputConfirmNewPassword" class="sr-only">Confirm new password</label>
					<input name="confirmNewPassword" type="password" id="inputConfirmNewPassword" class="form-control bottom" placeholder="Confirm new password"
						required>

					<button class="btn btn-lg btn-primary btn-block" type="submit">Change</button>
					<p class="mt-5 mb-3 copyright">&copy; <%= (new Date()).getFullYear() %> Canadian Institute for Cybersecurity</p>
				</form>
			</div>
		</div>
	</div>
	<script>
		feather.replace()
	</script>
</body>

</html>